Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name" maxOccurs="1" minOccurs="1"/>
              <xs:element type="xs:string" name="Phone" maxOccurs="unbounded" minOccurs="1"/>
              <xs:element name="Address" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Number" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="Street" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="City" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="State" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:int" name="Zip" maxOccurs="1" minOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="NearestAirport" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="Rating"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>